@media screen and (max-width: 685px) {
    .container{
        display: block;
    }
  }
header {
    color: #03a9eb;
    font-size: x-large;
    height: 50px;
    text-align: center;
    justify-content: end;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS';
}

body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    background-color: #03a9eb;
    text-align: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #727272;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #0083ee;
    color: #fff;
    transition: all 0.8s;
}

.menu a:not(:hover) {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #727272;
    transform: scale(1);
    transition: all 0.8s;
}




.carrossel .carrosselDiv,
li {
    display: flex;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.carrossel h2 {
    text-align: center;
    color: #03a9eb;

}

.carrossel {
    margin: 2%;
}

.carrossel img {
    width: 30%;
}



.servicos h2 {

    text-align: center;
    font-size: xx-large;
    color: #fff;
    background-color: #03a9eb;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
    margin-bottom: -25px;
    border-radius: 10px;
}

.servicos h3,
p {
    text-align: left;
    color: #fff;
}


.servicos img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.servicos ul {
    display: inline-flexbox;
    justify-content: center;
    padding: 10px;
    border: 1px solid #03a9eb;
    border-radius: 10px;
    background-color: #03a9eb;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}

.servicos li {
    margin: 30px 10px;
    text-align: center;
}

.servicos a {

    text-decoration: none;
    color: #7a7a7a;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.servicos a:hover {
    border-color: #ffffff;
    background-color: #0083ee;
    color: #ffffff;
    transform: scale(1.1);
    transition: all 0.8s;
}

.servicos a:not(:hover) {
    border-color: #ffffff;
    color: #7a7a7a;
    background-color: #fff;
    transform: scale(1);
    transition: all 0.8s;
}





.depoimentos h2 {
    text-align: center;
    font-size: xx-large;
    color: #fff;
    font-weight: bold;
}

.depoimentos {
    margin: 2%;
    border: 1px solid #03a9eb;
    border-radius: 10px;
    background-color: #03a9eb;
}

.depoimentos .depoimentoUm {
    display: flex;
    margin: 4%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #fff;
}

.depoimentos .depoimentoDois {
    display: flex;
    margin: 4%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #fff;
}

.depoimentos .depoimentoTres {
    display: flex;
    margin: 4%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #fff;
}

.depoimentos img,
p {
    margin-left: 2%;
    display: inline-block;
}

.depoimentos p {
    margin: 2%;
    font-size: 20px;
    text-align: left;
    color: #8a8a8a;
}

.depoimentos img {
    width: 10%;
    justify-content: left;
    align-items: left;
}





.contato h2 {
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    color: #03a9eb;
}

.contato p {
    display: flex;
    align-items: center;
    color: #5f5f5f;
    justify-content: center;
    font-size: large;
}

.contato .redesSociais {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}